---
layout: page
---

<section id="about">
   <div class="container">
      {% for post in site.posts %}
         <div class="post">
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}
            <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}{% if post.meta %} • {{ post.meta }}{% endif %}</p>
            <p class="text-muted excerpt">
               {{post.excerpt}}
            </p>
         </div>
      {% endfor %}
   </div>
</section>
